body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  display: inline-flex;
  height: 2em;
  width: 12em;
  border: 2px solid #4F5D75;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  color: #4F5D75;
  text-decoration: none;
}

.meme {
  position: inherit;
  display: none;
  align-self: baseline;
  padding-top: 13rem;
}

@media only screen and (min-width: 1250px) {
    .meme {
      display:inherit;
    }
}
